.baccGround {

    margin: auto;
    width: 620px; 
    
    background-image: linear-gradient(0deg, #FFDEE9 0%, #B5FFFC 100%);

   background-repeat: no-repeat;
   background-attachment: fixed;

}

html {
    height: 100%;
}




.darkk{
    color:black;
}
.newFont{
    font-size: 40px;
}

.shifu {

    height: 70px;
    border: solid;
    display:flex;
    text-align: right;
}

